name: Automated product release

on:
  pull_request:
    branches: [ master ]
    types: [ closed ]

jobs:
  check-release:
    name: Check release required
    runs-on: ubuntu-latest
    if: github.event.pull_request.merged && endsWith(github.repository, '-private') != true
    outputs:
      release: ${{ steps.check.outputs.ready }}
    steps:
      - name: Checkout actions
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - id: check
        name: Check pre-release completed
        uses: ./.github/.release/actions/actions/checks/release
        with:
          token: ${{ secrets.GH_TOKEN }}
  publish:
    name: Publish package
    runs-on: ubuntu-latest
    needs: check-release
    if: needs.check-release.outputs.release == 'true'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # This should be the same as the one specified for on.pull_request.branches
          ref: master
      - name: Checkout actions
        uses: actions/checkout@v3
        with:
          repository: pubnub/client-engineering-deployment-tools
          ref: v1
          token: ${{ secrets.GH_TOKEN }}
          path: .github/.release/actions
      - name: Install Dart SDK
        uses: dart-lang/setup-dart@9a04e6d73cca37bd455e0608d7e5092f881fd603
      - name: Publish to Pub
        uses: ./.github/.release/actions/actions/services/pub
        with:
          token: ${{ secrets.GH_TOKEN }}
          pub-token-endpoint: ${{ secrets.DART_TOKEN_ENDPOINT }}
          pub-access-token: ${{ secrets.DART_ACCESS_TOKEN }}
          pub-refresh-token: ${{ secrets.DART_REFRESH_TOKEN }}
          pub-id-token: ${{ secrets.DART_ID_TOKEN }}
          pub-token-expiration: ${{ secrets.DART_TOKEN_EXPIRATION }}
      - name: Create Release
        uses: ./.github/.release/actions/actions/services/github-release
        with:
          token: ${{ secrets.GH_TOKEN }}
      - name: Update Pages
        uses: ./.github/.release/actions/actions/services/github-pages
        with:
          token: ${{ secrets.GH_TOKEN }}
          source-folder: doc/api
          jira-api-key: ${{ secrets.JIRA_API_KEY }}
          last-service: true
      - name: Upload test reports
        uses: ./.github/.release/actions/actions/test-reports/upload
        with:
          token: ${{ secrets.GH_TOKEN }}
          acceptance-tests-workflow: run_acceptance_tests

